/* Import custom fonts */

@font-face {
  font-family: "BrownFtv-Bold";
  src:url("fonts/BrownFtv-Bold.otf");
}
@font-face {
  font-family: "BrownFtv-Light";
  src:url("fonts/BrownFtv-Light.otf");
}
@font-face {
  font-family: "BrownFtv-Regular";
  src:url("fonts/BrownFtv-Regular.otf");
}

/* Define colour palette */
:root {
  --green: #072620;
  --blue: #19af97;
  --msg-bg: #dfe9e4;
  --bg: #f5f5f5;
}

/* Define styles */

html {
  font-size: 100%
}


body {
  font-family: "BrownFtv-Light";
  text-align: justify;

  background-color: var(--bg);
  background-image: url("img/motif.svg"),
                    url("img/motif.svg");
  background-size: 4em, 4em;
  background-repeat: repeat-y,
                     repeat-y;
  background-position: left top,
                       right top;
  margin: 0;
}

#container {
  width: 80%;
  max-width: 75em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  padding-bottom: 50px;
  overflow: hidden;
}

#pictos {
  width: 8em;
  margin: 5em auto 1.5em auto;
  overflow: hidden;
}

#pictos img {
  width: 3em;
}

#pictoL {
  float: left;
}

#pictoP {
  float: right;
}

h1 {
  color: var(--blue);
  text-align: center;
  letter-spacing: 4px;
  font-size: 1.5em;
}


h1+hr {
  border: none;
  border-top: 2px solid var(--blue);
  width: 200px;
}

#banniere {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-image: url("img/fond.svg");
  background-size: cover;
  width: 100%;
  height: 50px;
}

footer img {
  max-height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Style form */

#form_title {
  margin-top: 2em;
}

.aligned_box {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1em;
}


.aligned_label {
  text-align: right;
  width: 30%;
  display: block;
  float: left;
}

.aligned_label * {
  display: block;
  margin-bottom: 10px;
}

.aligned_inputs {
  text-align: left;
  width: 67%;
  float: right;
  padding-right: 1%;
}

.aligned_inputs * {
  margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.label_cell {
  text-align: right;
  width: 30em;
}

#bouton-parcourir {
  color: white;
  background-color: var(--blue);
  border-radius: 3px;
  padding: 4px 20px 4px 20px;
  margin: 0.5em;
}

#parcourir-box {
  margin-bottom: 1em;
}

#bouton-envoyer {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: var(--blue);
  border-radius: 3px;
  padding: 4px 20px 4px 20px;
  font-family: "BrownFtv-Light";
  border: none;
  font-size: 1em;
  overflow: hidden;
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 750px) {
  form {
    text-size-adjust: 220%;
  }
}

form {
  text-align: center;
}

input[type="text"] {
  width: 100%
}

textarea {
  width: 100%;
  height: 100%;
}

/* Style messages */

#msg_title {
  margin-top: 4em;
}

#overlay {
  display: none;
  opacity: 0.75;
  z-index: 2;
  background: #000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  text-align: center;
}

#bigImage {
  display: none;
  z-index: 4;
  max-width: 95vw;
  max-height: 95vh;
}

#imagebox {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 95vw;
  max-height: 95vh;
  background: #FFF;
  color: #000;
}

#closeImagebox {
  display: none;
  z-index: 5;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor:pointer;
}

.msgimage {
  cursor:pointer;
}

.message {
  background-color: var(--msg-bg);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  overflow: auto;
}

.msgname {
  text-align: right;
  margin-right: 10px;
}

.msgname:before {
  content: "- ";
}

.timestamp {
  font-size: 0.8em;
  font-style: italic;
}

.msgbody {
  margin-right: 10px;
  margin-left: 10px;
  hyphens: auto;
}

img.portrait {
  float: right;
  margin: 16px 20px 16px 20px;
}

.paysage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.msgtext.portrait {
  margin: 10px;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
