/* Import custom fonts */

@font-face {
  font-family: "BrownFtv-Bold";
  src:url("fonts/BrownFtv-Bold.otf");
}
@font-face {
  font-family: "BrownFtv-Light";
  src:url("fonts/BrownFtv-Light.otf");
}
@font-face {
  font-family: "BrownFtv-Regular";
  src:url("fonts/BrownFtv-Regular.otf");
}

/* Define colour palette */
:root {
  --green: #072620;
  --blue: #19af97;
  --msg-bg: #dfe9e4;
  --bg: #f5f5f5;
}

/* Define styles */

body {
  font-family: "BrownFtv-Light";
  text-align: justify;

  background-color: var(--bg);
  background-image: url("img/motif.svg"),
                    url("img/motif.svg");
  background-size: 4em, 4em;
  background-repeat: repeat-y,
                     repeat-y;
  background-position: left top,
                       right top;
  margin: 0;
}

#container {
  width: 80%;
  max-width: 75em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  padding-bottom: 50px;
  overflow: hidden;
}

h1 {
  color: var(--blue);
  text-align: center;
  letter-spacing: 4px;
  font-size: 24px;
}

h1+hr {
  border: none;
  border-top: 2px solid var(--blue);
  width: 200px;
}

#banniere {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-image: url("img/fond.svg");
  background-size: cover;
  width: 100%;
  height: 50px;
}

footer img {
  max-height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Style form */

label {
  font-size: 1em;
}

input {
  
}

input[type="file"] {
    display: none;
}

.label_cell {
  text-align: right;
  width: 30em;
}

#bouton-parcourir {
  color: white;
  background-color: var(--blue);
  border-radius: 3px;
  padding: 4px 20px 4px 20px;
}

form {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  /* border: solid 1px; */
}

td {
  /* border: solid 1px; */
}

.form td {
  margin: 0 0 20px 0
}

input[type="text"] {
  width: 100%
}

textarea {
  width: 100%;
  height: 100%;
}

/* Style messages */

#overlay {
  display: none;
  opacity: 0.75;
  z-index: 2;
  background: #000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  text-align: center;
}

#bigImage {
  display: none;
  z-index: 4;
  max-width: 95vw;
  max-height: 95vh;
}

#imagebox {
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 95vw;
  max-height: 95vh;
  background: #FFF;
  color: #000;
}

#closeImagebox {
  display: none;
  z-index: 5;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor:pointer;
}

.msgimage {
  cursor:pointer;
}

.message {
  background-color: var(--msg-bg);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  overflow: auto;
}

.msgname {
  text-align: right;
}

.msgname:before {
  content: "- ";
}

.msgbody {
  margin-right: 10px;
  margin-left: 10px;
}

img.portrait {
  float: right;
  margin: 16px 20px 16px 20px;
}

.paysage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.msgtext.portrait {
  margin: 10px;
}
